@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
}

.container {
  width: 500px;
  margin: 25px auto;
}

form {
  padding: 20px;
  background: #2c3e50;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
form label,
form input,
form button {
  border: 0;
  margin-bottom: 3px;
  display: block;
  width: 100%;
}
form input {
  height: 25px;
  line-height: 25px;
  background: #fff;
  color: #000;
  padding: 0 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form button {
  height: 30px;
  line-height: 30px;
  background: #e67e22;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
form 
.error {
  color: #ff0000;
}
.success{
  color:#009900;
}

.talign_right{
  text-align:right;
}
.username_avail_result{
  display:block;
  width:180px;
}
.password_strength {
  display:block;
  width:180px;
  padding:3px;
  text-align:center;
  color:#333;
  font-size:12px;
  backface-visibility:#FFF;
  font-weight:bold;
}
/* Password strength indicator classes weak, normal, strong, verystrong*/
.password_strength.weak{
  background:#e84c3d;
}
.password_strength.normal{
  background:#f1c40f;
}
.password_strength.strong{
  background:#27ae61;
}
.password_strength.verystrong{
  background:#2dcc70;
  color:#FFF;
}
